In [3]:
import pandas as pd
import pyarrow.parquet as pq

In [16]:
df_code = pq.read_table(source="./code.parquet").to_pandas()
codes = df_code.columns.tolist()

In [6]:
df_code.head()

,Variable,Fragetyp,Fragetext,Werte,Zeichenlimit,Wert
0,60371597,Skalafrage,2.1 ein hohes Einkommen,"{'1': 'unwichtig', '10': None, '11': None, '12...",None,None
1,60371598,Skalafrage,2.2 gute Aufstiegsmöglichkeiten,"{'1': 'unwichtig', '10': None, '11': None, '12...",None,None
2,60371599,Skalafrage,2.3 einen sicheren Arbeitsplatz,"{'1': 'unwichtig', '10': None, '11': None, '12...",None,None
3,60371600,Skalafrage,2.4 viele Kontakte zu anderen Menschen,"{'1': 'unwichtig', '10': None, '11': None, '12...",None,None
4,60371601,Skalafrage,2.5 eine gute/kollegiale Arbeitsatmosphäre,"{'1': 'unwichtig', '10': None, '11': None, '12...",None,None

In [7]:
df_results = pd.read_excel('./data/pia_master_raw.xlsx', index_col=0)

In [8]:
df_results.head()

,ein hohes Einkommen,gute Aufstiegsmˆglichkeiten,einen sicheren Arbeitsplatz,viele Kontakte zu anderen Menschen†,eine gute/kollegiale Arbeitsatmosph‰re†,"das Gef¸hl, etwas zu leisten†","das Gef¸hl, anerkannt zu werden†","Mˆglichkeiten, sich um andere Menschen zu k¸mmern","Mˆglichkeiten, eigene Ideen einzubringen†","Mˆglichkeiten, etwas N¸tzliches f¸r die Gesellschaft zu tun†",...,an Gott glauben†,die Vielfalt der Menschen anerkennen und respektieren,"Bitte kreuze an, welcher Generation du zugehˆrig bist:",Welchem Geschlecht f¸hlst du dich zugehˆrig?,Bitte w‰hle deinen hˆchsten formalen Bildungsabschluss aus:,Bist du derzeit berufst‰tig?,In welcher Besch‰ftigungsform befindest du dich?†,In welchem Wirtschaftssektor bist du besch‰ftigt?,Zeitstempel,Datensatz-Ursprung
Bogen,,,,,,,,,,,,,,,,,,,,,
1,4,4,5,4,4,5,5,4,4,4,...,2,5,2,2.0,6,1,1.0,3.0,02.07.2023 um 17:44:14,O
2,4,5,5,5,5,4,5,4,4,2,...,1,5,1,2.0,6,1,1.0,2.0,02.07.2023 um 17:50:50,O
3,4,2,5,4,5,4,5,2,4,2,...,2,3,1,1.0,4,1,1.0,3.0,02.07.2023 um 18:55:10,M
4,5,4,5,4,4,4,4,2,3,3,...,1,5,1,2.0,4,1,2.0,3.0,02.07.2023 um 19:00:41,M
5,5,4,5,3,5,5,4,3,4,3,...,1,4,1,2.0,5,1,1.0,3.0,02.07.2023 um 19:03:32,M

In [13]:
skala_ids = df_code[df_code["Fragetyp"] == "Skalafrage"]["Variable"].tolist()
one_of_n_ids = df_code[df_code["Fragetyp"] == "1 aus n"]["Variable"].tolist()

In [14]:
print(skala_ids)
print(one_of_n_ids)

['60371597', '60371598', '60371599', '60371600', '60371601', '60371602', '60371603', '60371604', '60371605', '60371606', '60371607', '60371608', '60371609', '60371615', '60371616', '60371617', '60371618', '60371619', '60371620', '60371624', '60371625', '60371626', '60371627', '60371628', '60371629', '60371630', '60371631', '60371632', '60371633', '60371634', '60371635', '60371636', '60371637', '60371638', '60371639', '60371640', '60371641', '60371642', '60371643', '60371644', '60371645', '60371646', '60371647', '60371648']
['60371613', '60371614', '60371649', '60371650', '60371651', '60371652', '60371653', '60371654']